@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cl-moderate-violet: hsl(263, 55%, 52%);
  --cl-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --cl-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --cl-white: hsl(0, 0%, 100%);
  --cl-light-gray: hsl(0, 0%, 81%);
  --cl-grayish-blue: hsl(210, 46%, 95%);
  --ff-barlow-semi-condensed: 'Barlow Semi Condensed', sans-serif;
  --fw-extra-regular: 500;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: auto;
  overflow-y: visible;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-y: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-grayish-blue);
  font-family: var(--ff-barlow-semi-condensed);
}

.container {
  width: min(95%, 1200px);
  min-height: 500px;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  grid-template-areas: "first first second fifth"
                       "third fourth fourth fifth";
}

.container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.9rem;
  border-radius: 0.75rem;
}

.container .card:nth-child(1) {
  position: relative;
  background-color: var(--cl-moderate-violet);
  grid-area: first;
  color: var(--cl-white);
  z-index: 100;
}

.container .card .quote img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-65%, -0%);
  font-size: 3rem;
  color: var(--cl-moderate-violet);
  z-index: -1;
}

.container .card .quote img {
  width: 130px;
  height: 130px;
}

.container .card:nth-child(2) {
  background-color: var(--cl-very-dark-grayish-blue);
  grid-area: second;
  color: var(--cl-white);
}

.container .card:nth-child(3) {
  background-color: var(--cl-white);
  grid-area: third;
  color: black;
} 

.container .card:nth-child(4) {
  background-color: var(--cl-very-dark-blackish-blue);
  grid-area: fourth;
  color: var(--cl-white);
}

.container .card:nth-child(5) {
  background-color: var(--cl-white);
  grid-area: fifth;
  color: black;
  justify-content: space-between;
}

.container .card .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .card .profile .profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container .card:nth-of-type(1) .profile .profile-picture img {
  border: 2px solid hsl(264, 83%, 70%);
}

.container .card:nth-of-type(2) .profile .profile-picture img {
  border: 2px solid var(--cl-light-gray);
}

.container .card:nth-of-type(3) .profile .profile-picture img {
  border: 2px solid transparent;
}

.container .card:nth-of-type(4) .profile .profile-picture img {
  border: 2px solid var(--cl-moderate-violet);
}

.container .card:nth-of-type(5) .profile .profile-picture img {
  border: 2px solid transparent;
}

.container .card .profile-info {
  margin-left: 1rem;
}

.container .card .profile .profile-info h3 {
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
}

.container .card .profile .profile-info p {
  font-size: 0.8rem;
  font-weight: var(--fw-extra-regular);
  color: var(--cl-light-gray);
}

.container .card .testimonial {
  font-size: 1.35rem;
  font-weight: var(--fw-semi-bold);
  margin-block: 1rem;
}

.container .card .description {
  font-size: 0.9rem;
  font-weight: var(--fw-extra-regular);
  color: var(--cl-light-gray);
}

@media only screen and (max-width: 900px) {
  html, body {
    height: auto;
    overflow-y: visible;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
  }

  .container .card .quote img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-65%, -0%);
    font-size: 3rem;
    color: var(--cl-moderate-violet);
    z-index: -1;
  }
  
}

